.card {
  background-color: #0dcaf021 !important;
  box-shadow: 0 12px 23px lightgray;

  flex-basis: 20%;
}

.list-group-item {
  /* background: #0dcaf021 !important; */
  background-color: #0dcaf021 !important;
  color: #0d6efd !important;
  transition: all .3s;
}

.list-group-item:hover {
  opacity: .8;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .my-container {
      flex-direction: column;
      justify-content: center;
  }

  .input-group div {
      width: 50%;
  }
}